In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import zipfile

In [44]:
zip_path = "../../data/loc-brightkite_totalCheckins.txt.zip"
output_path = "../../data/"

with zipfile.ZipFile(zip_path, "r") as zip_ref:
    zip_ref.extractall(output_path)

In [13]:
with open("../../data/loc-brightkite_totalCheckins.txt", "r") as file:
    lines = file.readlines()

data = [line.split() for line in lines]

df = pd.DataFrame(data)

df.columns = ["user_id", "timestamp", "latitude", "longitude", "location_id"]

In [14]:
df.dropna(subset=["location_id"], inplace=True)

In [35]:
top_users = df.groupby("user_id")["location_id"].nunique().nlargest(500).index.tolist()

selected_df = df[df["user_id"].isin(top_users)].copy()

In [36]:
selected_df["location_id_number"] = selected_df.groupby(["user_id"])[
    "location_id"
].transform(lambda x: x.rank(method="dense").astype(int))

In [37]:
selected_df.drop(
    columns=["timestamp", "latitude", "longitude", "location_id"], inplace=True
)

In [42]:
user_df = (
    selected_df.groupby("user_id").agg(
        {"location_id_number": "nunique", "user_id": "size"}
    )
).copy()
user_df.columns = ["diff_locations", "seq_length"]
user_df.head(50)

         diff_locations  seq_length
user_id
0                   623        2100
10198               468        1462
102                 548        1576
10238               411        1807
10264               362         421
10274               285         940
10333               500        1982
10334               325         869
10336               310         889
10341               319         934
10342               592        1226
10344               285         568
10346               291        2100
10348               679        2100
10350               329        1061
10353               338        1933
10355               615        1316
10359               333         809
10380               350         866
10382               352        1071
10414               329         778
10428               339         857
10446               493        2100
10457               300         430
10483               374         954
10540               373         830
10554               286         620
10555               395         766
10612              1007        2100
10613               350        1331
10614               320         774
10620               389         829
10622               363        1655
10630               362        1391
10632               310         458
10644               315         656
10650               399        1285
10651               362        1116
10653               338        2100
10685               401         923
10686               302         771
1071                379        1183
1073                521        2100
1075                434        1422
1076                519        2100
1077                414        1371
1080                313         596
10809               288         622
1082                305        2100
1083                326        1364